<h1>Cocktails</h1>

<%= form_tag new_cocktail_path, method: 'post' do %>
  <%= label_tag "Create New Cocktail with This Many Ingredients:" %>
<select id="num_ingredients" name="num_ingredients">
  <% for i in (2..15) %>
  <option value="<%= i %>"><%= i %></option>
  <% end %>
</select>
<br>
<%= submit_tag "Create Cocktail" %>
<% end %>

<br>

<%= form_tag(cocktails_path, :method => "get", id: "search-form") do %>
  <%= label_tag "Search by Cocktail Name" %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

  <p>Cocktails:</p>
<div class="row" margin-top="15px">
  <% @cocktails.each do |cocktail|%>
    <section class="col-md-2" style="padding-top: 20px">
    <%= link_to image_tag("#{cocktail.img_url}", size: "150x150", :class=>"img-circle"), cocktail%><br>
    </section>
  <% end %>

</div>
