<div style="padding-top: 20px">
  <center>
    <h1 class="login-header"><%= @cocktail.name %> </h1>

    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <br><br>

    <%= image_tag(@cocktail.img_url, size: "250x250", :class=>"img-circle") %><br>

    <h2 class="serving_glass">Serving Glass: <%=@cocktail.glass_type %></h2>

    <ul class="cocktail_show">
      <% @cocktail.cocktail_ingredients.each do |cocktail_ingredient|%>
        <p><%= cocktail_ingredient.measurement %> <%= link_to cocktail_ingredient.ingredient.name, cocktail_ingredient.ingredient%></p>
        <% end %>
    </ul>
    <br>

    <div>
    <h2>Instructions:</h2>
    <p class="cocktail_show"><%=@cocktail.instructions%></p>
    </div>

    <h2>
      <%= button_to "Add to My Favorites", add_favorite_path, method: 'post' %>
      <br>
      <%= button_to "Edit Cocktail", edit_cocktail_path(@cocktail), method: 'get' %>
      <br>
      <%= button_to "Back to All Cocktails", cocktails_path, method: 'get' %>
    </h2>
  </center>
</div>
