<!DOCTYPE html>
<html>
  <head>
    <title>Bartender 101</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= cocktails_path %>">Bartender 101</a>
        </div>
        <ul class="nav navbar-nav">
          <% if session[:current_user_id] %>
            <li><%= link_to "Profile", user_path(current_user) %></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Browse <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="<%= cocktails_path %>">Cocktails</a></li>
                <li><a href="<%= ingredients_path %>">Ingredients</a></li>
              </ul>
            </li>
            <li><%= link_to "Logout", logout_path, method: 'post' %></li>
            <div class="input-group">
              <form class="navbar-form navbar-left" action="<%= cocktails_path %>" >
                <input type="text" name="search" id="search" class="form-control" placeholder="Search Cocktails">
                <button type="submit" class="btn btn-default">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </form>
            </div>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="header">
      <div class="bg-image"></div>

      <div class="bg-text">
        <h1>I am John Doe</h1>
        <p>And I'm a Photographer</p>
      </div>
    </div >
    <div class="container">
      <%= yield %>
    </div>
    <br>
  </body>
</html>
